#heading {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  padding: 15px;
  width: 300px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}
/*
body {
  background-color: cyan;
  text-align: center;
  Mobile version doesn't work
  height: 1700px;
}
*/
p {
  font-size: 110%;
  margin: 11px;
  padding: 10px;
  color: skyblue;
}

div {
  background-color: #111;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  border: 3px solid midnightblue;
  border-radius: 15px;
  flex-flow: row wrap;
  padding: 0;
}

nav ul li a {
  border: 2px solid blue;
  border-radius: 15px;
  background-color: midnightblue;
  color: skyblue;
  padding: 20px;
  /* margin: 10px; */
  text-decoration: none;
  font-size: 1.5em;
  display: flex;
  flex: 1 auto;
}

nav ul li a:hover {
  color: midnightblue;
  background-color: skyblue;
}

article {
  background-image: url(images/holy-light-edit.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  height: 500px;
  width: 100%;
  margin: 0 0 0 0;
}

.container {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  text-align: center;
}
/* Forms */
body {
  margin: 0;
}